<div>
  <span *ngFor="let noteGroup of noteGroups" class="groupnames"
        [class.selected]="noteGroup === selectedGroup" (click)="onSelectGroup(noteGroup)"> {{noteGroup.groupname}} </span>
</div>
<div>
  <span *ngFor="let note of notes" class="noteNames"
        [class.selected]="note === selectedNote" (click)="onSelectNote(note)"> {{note.noteTitle}} </span>
</div>
<a routerLink="/search">
  <button>Jegyzet keresése</button>
</a>
<br>
<button (click)="switchToPrevNote()" id="prevButton"> Előző jegyzet</button>
<button (click)="switchToNextNote()" id="nextButton">Következő jegyzet ></button>
<div id="sortradio">
  <input type="radio" checked name="sort" (click)="setSortByImportance()">Jegyzetek rendezése fontosság szerint<br>
  <input type="radio" name="sort" (click)="setSortByDate()">Jegyzetek rendezése dátum szerint
</div>

<app-note-browser [note]="selectedNote"> </app-note-browser>
