
<div class="componentContainer">
  <div *ngIf="noteGroups">
    <span *ngFor="let noteGroup of noteGroups" class="groupnames mat-title"
          [class.selected]="noteGroup === selectedGroup" (click)="onSelectGroup(noteGroup)"> {{noteGroup.groupname}} </span>
  </div>
  <div *ngIf="notes">
    <span *ngFor="let note of notes" class="noteNames mat-title"
          [class.selected]="note === selectedNote" (click)="onSelectNote(note)"> {{note.noteTitle}} </span>
  </div>
  <a routerLink="/search">
    <button mat-flat-button color="primary" class="center">Jegyzet keresése</button>
  </a>
  
  <div id="sortradio">
    <input type="radio" checked name="sort" (click)="setSortByImportance()">Jegyzetek rendezése fontosság szerint<br>
    <input type="radio" name="sort" (click)="setSortByDate()">Jegyzetek rendezése dátum szerint
  </div>
  <button mat-flat-button color="primary" (click)="switchToPrevNote()" id="prevButton">
      <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-flat-button color="primary" (click)="switchToNextNote()" id="nextButton">
      <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>

<app-note-browser [note]="selectedNote"> </app-note-browser>
