
<div class="componentContainer">
  <button mat-flat-button color="primary" (click)="logout()">Kijelentkezés</button>
  <div>
    <span *ngFor="let noteGroup of noteGroups" class="groupnames mat-title"
          [class.selected]="noteGroup === selectedGroup" (click)="onSelectGroup(noteGroup)"> {{noteGroup.noteGroupName}} </span>
  </div>
  <div>
    <span *ngFor="let note of notes" class="noteNames mat-title"
          [class.selected]="note === selectedNote" (click)="onSelectNote(note)"> {{note.noteTitle}} </span>
  </div>
  <div class="container">
    <button mat-flat-button color="primary" (click)="refresh()">Frissítés</button>
  </div>
  <a routerLink="/search">
    <button mat-flat-button color="primary" class="center">Jegyzet keresése</button>
  </a>


  <div id="sortradio" class="container" *ngIf="selectedNote">
    <input id="byImportance" type="radio" checked name="sort" (click)="setSortByImportance()">
    <label for="byImportance" class="mat-h3">Jegyzetek rendezése fontosság szerint</label>
    <input id="byDate" type="radio" name="sort" (click)="setSortByDate()">
    <label for="byDate" class="mat-h3">Jegyzetek rendezése dátum szerint</label>
  </div>
  <button mat-flat-button color="primary" (click)="switchToPrevNote()" id="prevButton" *ngIf="selectedNote">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-flat-button color="primary" (click)="switchToNextNote()" id="nextButton" *ngIf="selectedNote">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>

<app-note-browser [note]="selectedNote" [group]="selectedGruop"> </app-note-browser>
