<div class="componentContainer">
  <div *ngIf="noteGroups">
    <span *ngFor="let noteGroup of noteGroups" class="groupnames mat-title"
          [class.selected]="noteGroup === selectedGroup" (click)="onSelectGroup(noteGroup)"> {{noteGroup.noteGroupName}} </span>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
    <h2 class="mat-h3">Új Jegyzet</h2>
    <mat-form-field class="center">
        <mat-label>jegyzet címe</mat-label>
      <input matInput id="noteTitle" type=text formControlName="noteTitle" required>
    </mat-form-field>
    <mat-form-field class="center">
        <mat-label>jegyzet fontossága</mat-label>
      <input matInput type="number" formControlName="noteImportance" required>
    </mat-form-field>

    <mat-form-field class="center">
        <mat-label>jegyzet szövege</mat-label>
      <textarea matInput id="modifyArea" class="noteTextArea" formControlName="noteText" required></textarea>
    </mat-form-field>

    <div class="container">
      <button mat-flat-button color="primary" class="center" (click)="onSubmit()" [disabled]="form.invalid">Új jegyzet mentése</button>
    </div>
    <div class="container">
      <button mat-flat-button color="primary" class="center" (click)="goBack()" >Vissza a jegyzetekhez </button>
    </div>

  </form>
</div>
