<div *ngIf="noteGroups">
  <span *ngFor="let noteGroup of noteGroups" class="groupnames"
        [class.selected]="noteGroup === selectedGroup" (click)="onSelectGroup(noteGroup)">{{noteGroup.groupname}}</span>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Új Jegyzet</h2>
  jegyzet címe<br>
  <input id="noteTitle" type=text formControlName="noteTitle" required><br />
  jegyzet szövege<br>
  <textarea id="modifyArea" class="noteTextArea" formControlName="noteText" required></textarea>

    <button (click)="submit" [disabled]="form.invalid"> Új jegyzet mentése</button>


    <button type="goBack()" >Vissza a jegyzetekhez</button>

</form>
