<div>
  <h1 *ngIf="!modify">{{note.noteTitle}}</h1>
  <input *ngIf="modify" id="noteTitle" type=text [(ngModel)]="titleValue">
  <h2>Dátum: {{note.creationTime}}</h2>
  <textarea [readOnly]="isReadOnly" id="modifyArea" class="noteTextArea" [(ngModel)]="textValue"></textarea>
  <a routerLink="/new-note">
    <button *ngIf="!modify">Új jegyzet</button>
  </a>
  <button (click)="modifyNote()" *ngIf="!modify">Jegyzet módosítása</button>
  <a routerLink="/note-browser">
    <button (click)="deleteNote()" *ngIf="!modify">Jegyzet törlése</button>
  </a>
  <app-modify-note *ngIf="modify" [note]="note"></app-modify-note>
  <button *ngIf="modify" (click)="saveModifiedNote()" id="saveButton"> Módosítás mentése</button>    
</div>

