/*div {
  width: 450px;
  margin: auto;
}
*/

.noteTextArea {

  width: 100%;
  height:100%;
  resize: none;
}
.textAreaContainer{
  height: 400px;
  vertical-align: middle;
}


.center{
  display:block;
  margin:0 auto;
}


noteLabel{
  border:0;
  font: 400 22px Arial;
}
.noBorder{
  border:0;
}
#titleContainer{
  vertical-align: bottom;
}

.mainButton{
  width:170px;
}