
<div class="componentContainer">
  <div *ngIf="note">
    <div id="titleContainer">
      <h1 *ngIf="!modify" class="mat-title noteTitle">{{note.noteTitle}}</h1>
      <input matInput *ngIf="modify" id="noteTitle" class="noteTitle" type=text [(ngModel)]="titleValue">
    </div>
  </div>
  <div class="container textAreaContainer" *ngIf="note">
    <textarea [readOnly]="isReadOnly" id="modifyArea" class="noteTextArea center" [(ngModel)]="textValue"></textarea>
  </div>
  <h2 class="mat-h3" *ngIf="note">Létrehozás ideje: {{note.convertedCreationTime | date:'dd-MM-yy hh-mm' }} </h2>
  <div *ngIf="!modify" class="container">
    <a routerLink="/new-note">
      <button mat-flat-button color="primary" class="center">Új jegyzet</button>
    </a>
  </div>
  <div *ngIf="!modify" class="container">
    <button mat-flat-button color="primary" class="center" (click)="modifyNote()">Jegyzet módosítása</button>
  </div>
  <div *ngIf="!modify" class="container">
    <a routerLink="/note-browser">
      <button mat-flat-button color="primary" class="center" (click)="deleteNote()">Jegyzet törlése</button>
    </a>
  </div>
  <div *ngIf="!modify" class="container">
    <a routerLink="/new-note-group">
      <button mat-flat-button color="primary" class="center">Új jegyzet csoport</button>
    </a>
  </div>
  <app-modify-note *ngIf="modify" [note]="note"></app-modify-note>
  <div *ngIf="modify" class="container">
    <button (click)="saveModifiedNote()" id="saveButton" mat-flat-button color="primary" class="center"> Módosítás mentése</button>
  </div>
</div>

